*{
    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#headSection{
    height: 9vh;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
}

#appName{
    display: flex;
}

#title{
    padding: 1rem;
    padding-left: 0;
    font-size: 2.5rem;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.9rem 1rem;
    padding-right: 0.4rem;
}

body{
    background-image: url("./image/backgroung.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main{
    display: flex;
    /* gap: 2rem; */
    box-sizing: border-box;
}


#legend{
    width: 20%;
    height: auto;
}

#projects{
    padding-top: 1rem;
    
}

#projects li, #lists li{
    list-style-type: none;
    padding: 0.5rem;
    margin:0.8rem;
}

li, #projectLabel, #listLabel{
    font-size: 1.3rem;
}

#projectHeading{
    font-size: 1.7rem;
    padding: 0.6rem;
    color: rgb(54, 5, 87);
    justify-content: center;
    align-items: center;
}

.symbols,.addicon{
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

#projectLabel, #listLabel{
    padding: 0.5rem;
    padding-left: 0;
}

.addProject, .addList{
    display: flex;
}


#legend, #content{
    margin: 1rem;
    box-sizing: border-box;
    height: 86.5vh;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
}

#dialogHeading{
    color: rgb(30, 2, 49);
    margin-bottom: 1rem;
}

#newProject{
    height: 28vh;
    margin: 10rem auto;
    padding: 3rem;
}

#newProject, #newList{
    width: 70vh;
    padding: 2rem;
    border-radius: 3rem;
    border: none;
    
    background-color: rgb(214, 151, 250);
}

#newList{
    height: 80vh;
    margin: 1.5rem auto 0;
    padding: 2rem;
}

input[type="text"], input[type="date"], select{
    width:95%;
    height: 1.5rem;
    background-color: rgb(248, 247, 248);
    margin: 1rem;
    margin-left: 0;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
}

#projectList{
    height: 2.5rem;
}

label{
    font-size: 1.3rem;
    font-weight: 700;
}

dialog::backdrop{
    background-color:  rgba(58, 27, 1,0.4);
}

#btns{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

button{
    width: 8rem;
    height: 2.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(30, 2, 49);
    color: white;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0;
}

#content{
    width: 80%;
    height: auto;
}

#tabHeading{
    margin: 2rem 2rem 2rem 3rem;
    color: rgb(54, 5, 87);
    font-size: 1.8rem;
}

input[type="radio"]{
    width: 2rem ;
    margin:0;
    accent-color: #730b8d;   
}

.prioritySelector{
    display: flex;
    margin: 1rem;
    margin-left: 0;
}

.radio{
    font-size: 1.2rem;
    font-weight: 500;
}
